body {
    overflow: hidden;
}

.home-container-bg {
    position: absolute;
    width: 538.03px;
    height: 2678.58px;
    left: 717.45px;
    top: -759.84px;
    background: linear-gradient(246.63deg, #49E2B3 0%, #1D576D 71.15%, #110E3D 100%);
    transform: rotate(-55.88deg);
    z-index: -1;
}

.home-container-main {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    z-index: 1;
    display: flex;
    height: 89vh;
    overflow: auto;
    width: 99%;
    justify-content: space-between;
    left: calc(50% - 1453px/2 - 2px);
    top: calc(50% - 897px/2 + 16.5px);
    background: rgba(145, 255, 221, 0.67);
    box-shadow: 0px 0px 28px 6px rgba(0, 0, 0, 0.25);
    margin-top: 70px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.uploading-bar{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    color: green !important;
}
.home-container-main-left {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border-right: 2px solid black;
    border-radius: 100px;  
    margin: 5px;
    margin-right: 0px;
}

.home-container-main-left .collections{
    margin-top: 20px;
    background: none;
    width: 90%;
    display: flex;
    justify-content: left;
    text-transform: uppercase;
    font-size: 18px;
    background: white;
    border-radius: 25px;
    padding: 18px;
    font-weight: 500;
    text-transform: capitalize;
    height: 72%;
    overflow-y: auto;
}
.home-container-main-left .db-form{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}
.home-container-main-left .db-form input{
   
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding-left: 8px;
}
.collections ul{
    width: 100%;
}
.collections .database-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: center;
}
.collections .database-name li{
    list-style-type: none;
    font-size: 22px;
    margin-bottom: 4px;
    padding: 4px;
}
.collections-tag{
    display: flex;
    justify-content: space-between;
    margin-bottom:4px ;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}
.modal-title{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    color: #110E3D;
}
.home-container-main-right {
    width: 50%;
    border-left: 4px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 100px;
    margin: 5px;
    margin-left: 0px;
    padding: 10px;
    text-align: center;
}
.home-container-main-right h1,
.home-container-main-left h1{
    font-weight: 900;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 54px;
    width: 94%;
    border-bottom: 4px double blueviolet;
    text-align: center;
}

.dropbox{
    margin-top: 20px;
    background:white;
    height: 60%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding: 18px;
    font-weight: 900;
}
.dropbox p{
    cursor: pointer !important;
}
.dropbox .success{
    color: green;
}
.home-container-main-right .file-upload h2{
    font-weight: 900;
    color: green;
    font-size: 104px;
}
.home-container-main-right .file-upload span{
    color: green;
}
.home-container-main-right button{
    margin-top: 10px;
    width: 80%;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 2px;
}
.home-container-main-right .file-upload select{
    width: 90%;
    padding: 4px;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    font-weight:600 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}